<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Xamarin.HelloXamarin">
	<uses-sdk android:targetSdkVersion="12" />
	<application android:label="HelloXamarin" android:icon="@drawable/icon"></application>
</manifest>